/* cards */
.features {
    width: 80%;
    max-width: 73rem;
    padding-top: 4.8em;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2.2em;
}

.card {
    padding: 2em;
    padding-bottom: 2.55em;
    justify-self: center;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(75, 75, 201, 0.15);

    &__title {
        font-size: 1.3rem;
    }

    &__description {
        font-size: 0.9rem;
        padding: 0.5em 0 2.3em 0;
    }

    &:nth-child(1) {
        border-top: 0.3em solid $cyan;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    &:nth-child(2) {
        border-top: 0.3em solid $red;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    &:nth-child(3) {
        border-top: 0.3em solid $orange;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    &:nth-child(4) {
        border-top: 0.3em solid $blue;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}