@mixin header-title {
    display: block;
    font-size: clamp(1.6rem, 6vw, 2.385rem)
}

/* header */
.header {
    width: 80%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__title {
        &--light {
            @include header-title();
            font-weight: 200;
        }

        &--bold {
            @include header-title();
        }
    }

    &__description {
        padding-top: 1rem;
    }
}